*{
    margin: 0;
    padding: 0;

}

#container {
width: 1300px;
height: 1200px ;
background-color: chocolate;
margin-left: auto ;
margin-right: auto;
}

#header {
 width: 1300px;
 height: 120px;
 background-color: rgba(243, 11, 57, 0.836);
}
#enc {
    position: relative;
    left: 500px;
    top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: rgb(34, 95, 226);
}

#nav {
    width: 1300px;
    height: 180px;
    background-color: rgb(18, 194, 135);
}

#men {
    position: relative;
    left: 500px;
    top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: rgb(153, 8, 8);
}

#aside {
    width: 1300px;
    height: 820px;
    background-color: rgb(53, 175, 231);
}

#title {
    position: relative;
    left: 180px;
    top: 30px;
    font-size: 35px;
}

#misi {
    position: relative;
    left: 30px;
    top: 50px;
    font-size: 28px;
    color: rgb(0, 0, 0);
}

#text1 {
    position: relative;
    left: 30px;
    top: 60px;
    font-size: 18px;
}

#title2 {
    position: relative;
    left: 20px;
    top: 85px;
    font-size: 25px;
}

#text2 {
    position: relative;
    left: 15px;
    top: 90px;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

#text3 {
    position: relative;
    left: 15px;
    top: 100px;
    font-size: 19px;
}


#footer {
    float: left;
    width: 1300px;
    height: 100px;
    background-color: rgb(13, 192, 88);
}

#pie {
    position: relative;
    left: 15px;
    top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: rgb(13, 29, 173);
}

#right {
    position: relative;
    left: 15px;
    top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: rgb(13, 29, 173);
}

#img {
    position: relative;
    left: 1120px;
    top: -90px;
}